:root {
	--background-color: #222831;
	--text-color: #eeeeee;
	--container-color: #393e46;
	--accent-color: #00adb5;
	--hover-color: #08cdd7;
	--nav-max-height: 10vh;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
fieldset {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}

.a {
	text-decoration: none !important;
	color: inherit;
}

.a:hover {
	color: var(--hover-color);
	cursor: pointer;
}

input[type="date"] {
	background-color: var(--accent-color);
	padding: 15px;

	color: var(--text-color);
	font-family: inherit;
	font-size: 1.5rem;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background-color: var(--text-color);
	pointer-events: auto;
}

input[type="date"]:hover {
	transform: scale(1.1);
	background-color: var(--hover-color);
}

.nav {
	background-color: var(--container-color);
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	max-height: var(--nav-max-height);
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top .logo {
	flex: 1;
	padding: 10px;
	text-align: left;
	font-size: 36px;
	font-weight: bold;
	color: var(--text-color);
	display: flex;
	align-items: center;
}

.top .date {
	padding: 10px;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
}

.bot {
	background-color: var(--container-color);
	color: var(--text-color);
	overflow: hidden;
	position: fixed;
	padding: 10px;
	width: 100%;
	border-top: 1px solid var(--accent-color);
	display: flex;
	justify-content: space-between;
}

.bot .active {
	color: var(--accent-color);
}

.bot nav {
	width: 50%;
	font-weight: 600;
}
.bot nav * {
	margin: 10px;
}

.bot .weatherSystem {
	margin-right: 5vw;
}

.body {
	position: absolute;
	top: calc(var(--nav-max-height) + 4vh);

	width: 97.5%;
	padding: 1vw;
}

.body.landing {
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.body.dashboard {
	color: var(--hover-color);
}

.body .locationInput {
	font-size: 36px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.forecast {
	margin-top: 5%;
}
.big,
.small {
	padding: 5px;
}

.forecast .big {
	min-width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.forecast .big img {
	min-width: 10vw;
}
.forecast .weatherCase {
	text-align: center;
	font-weight: 600;
	color: var(--hover-color);
}

.forecast .big .temp {
	text-align: center;
	font-size: 42px;
	font-weight: bold;
	color: var(--accent-color);
}

.forecast .middleContainer .minmax {
	text-align: center;
	color: var(--hover-color);
	opacity: 0.44;
}

.forecast .middleContainer .day {
	text-align: center;
	color: var(--hover-color);
	opacity: 0.44;
}

.forecast .middleContainer .day:hover,
.forecast .middleContainer .minmax:hover,
.forecast .big .temp:hover {
	cursor: default;
	color: var(--hover-color);
	opacity: 1;
}
.forecast .big .metaInfoContainer {
	color: var(--accent-color);
	font-size: 24px;
	min-width: 10vw;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.forecast .big .metaInfoContainer *:hover {
	color: var(--hover-color);
}

.forecast .small {
	min-width: 15vw;
	margin: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.forecast .small img {
	min-width: 10vw;
}

.futureCast {
	display: flex;
	flex-direction: row;
}

.axis path {
	stroke: white;
}
.axis line {
	stroke: white;
}
text {
	font-size: 18px;
	fill: white;
}
@media screen and (max-width: 768px) {
	.top .logo {
		font-size: 24px;
	}

	.top .date {
		font-size: 12px;
	}

	.bot {
		padding: 5px;
	}

	.forecast .big .metaInfoContainer {
		font-size: 18px;
	}
	.body {
		text-align: center;
		top: 20vh;
		justify-content: center;
		align-items: center;
	}

	.body .locationInput {
		justify-content: center;
	}

	#standard-basic {
		font-size: 24px;
	}
}
